[user]
  name = Teffen Ellis
  email = teffen@nirri.us
[alias]
  # Utilities.
  this-branch = rev-parse --abbrev-ref HEAD
  remote-branch-name = "!git describe --contains --all --match 'remotes/origin/*' --always HEAD"
  # Save your fingers...
  st = status
  pt = push --tags
  co = checkout
  cm = commit
  t = commit
  br = branch
  sub = submodule update
  # Merge more explicitly.
  meld = merge --no-ff
  # Revert currently tracked files. Retains new files.
  toss = reset --hard
  # Go back one commit.
  rollback = reset --hard HEAD~$1
  # Push a new branch to a remote using its local name.
  shove = "!git push -u origin $(git this-branch)"
  # Pretty logs.
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  # Recent changes to local branches. Useful if you forget branch names.
  recent = "!git for-each-ref --color=always --count=8 --sort=-committerdate refs/heads/ --format='%(color:green)%(committerdate:relative) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)\n%(color:bold cyan)%(authorname)%(color:reset): %(contents:subject)\n' | less -r"
  # Diff without whitespace changes.
  diffy = diff --ignore-space-change
[help]
  autocorrect = 20
[core]
  editor = /usr/bin/vim
  # Open the editor, even for merge commits.
  mergeoptions = --no-edit
  excludesfile = ~/.gitignore_global
  pager = diff-highlight | less
[pager]
  log = diff-highlight | less
  show = diff-highlight | less
  diff = diff-highlight | less
[interactive]
  diffFilter = diff-highlight
[color "diff"]
  commit = green
  meta = yellow
  frag = cyan
  old = red
  new = green
  whitespace = red reverse
[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 22
[color]
  ui = auto
[push]
  default = simple
[merge]
  tool = p4merge
[mergetool]
  keepBackup = false
[mergetool "p4merge"]
  path = /opt/p4v-2013.2.685561/bin/p4merge
[url "git@github.com:"]
  insteadOf = https://github.com/
[url "ssh://git@github.com/"]
  insteadOf = https://github.com/
[url "git@gh.coder-internal.com:"]
  insteadOf = https://git.coder-internal.com/
[url "git@gh.coder-internal.com:"]
  insteadOf = https://gh.coder-internal.com/
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[merge "npm-merge-driver"]
  name = automatically merge npm lockfiles
  driver = npx npm-merge-driver merge %A %O %B %P
